<section class="facts">
    <div class="container">
        <h2 class="title title--center">
            Some facts and figures
        </h2>
        <ul class="list-reset facts__list">
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle">
                        <div class="facts-element__value">98%</div>
                    </div>
                    <span class="facts-element__text">Totally satisfied clients</span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle">
                        <div class="facts-element__value">20</div>
                    </div>
                    <span class="facts-element__text">Years of experience</span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle">
                        <div class="facts-element__value">9452</div>
                    </div>
                    <span class="facts-element__text">Working hours spent</span>
                </div>
            </li>
            <li class="facts__item">
                <div class="facts-element">
                    <div class="facts-element__circle">
                        <div class="facts-element__value">100%</div>
                    </div>
                    <span class="facts-element__text">Succeeded projects</span>
                </div>
            </li>
        </ul>
    </div>
</section>
